    <div id="wrapper">
      <h1>Horse Racing News Scraper</h1>
      <h2><i>"You may be walking around lucky and not even know it"</i></h2>
      <div id="buttons">
        <div id="action-button">
          <button id="make-new">Show Articles</button>
        </div>
        <button id="show-saved">Show Saved Articles</button>
      </div>
     
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{!-- <script src="scraper.js"></script> --}}
